name: Update gist with WakaTime stats
on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch: # Run workflow manually (without waiting for the cron to be called), through the Github Actions Workflow page directly
jobs:
  update-gist:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Update gist
        uses: Gongsta/waka-box@master
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          GIST_ID: 7e8a37ec31d70c7ab47b3ab6031e3047
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
